{% extends "base.html" %}

{% block title %} About Us{% endblock title %}

 {% block body %}<div class="heading">
    ABOUT PAGE
  </div>
  <hr>
  <div class="content">

    A Community for the Artist, Maker and (Forever) Inspired
    You find artists on every continent of the globe. You find artists in every country, city and town worldwide.
    In the United States alone there are 2.1 million artists putting their creative energies out there every hour of every day–and loving every minute of it.
      Artists like you, who strive to live artful lives and share your passions in ways both big and small every day.

    <img src="/static/cvv.jpg" width="200" height="200"class='text-center' alt="...">
    <a href='page2'><input type=”button”  class="btn btn-success" value="Page2"></a>
    <a href='page3'><input type=”button”  class="btn btn-success" value="Page3"></a>
  </div>
  </div>{% endblock body %}

