{% extends "base.html" %}

{% block title %} About Us{% endblock title %}

 {% block body %}<div class="heading">
    ABOUT PAGE
  </div>
  <hr>
  <div class="content">
    This particular system is designed as a roadblock in the transcation system to ensure that whenever a fraud occurs then their
    is an human intervention and with the help of machine learning , an added layer of security could be added.
    <pre>
   </pre> The <b>objectives</b> of credit card fraud detection are-
    <br> 1)Reduce losses due to payment fraud for both merchants and issuing banks.
    <br> 2)Providing an extra layer of protection at minimum cost
    <pre></pre> Technology Used:- ML FLASK HTML CSS JS
    <pre></pre> <b>Features</b>
    <br> ->If any fraud is being caught then it require to enter your CVV or any other feature you want to match (Fully customizable)
    <br> ->Voluntarily allow or authenticate an transaction
    <br> ->Add your own dataset and build own trained model easily

    <img src="/static/cvv.jpg" width="200" height="200"class='text-center' alt="...">
    <a href='page2'><input type=”button”  class="btn btn-success" value="Page2"></a>
    <a href='page3'><input type=”button”  class="btn btn-success" value="Page3"></a>
  </div>
  </div>{% endblock body %}

